* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: $roboto;
}

html, body {
    font-size: $small-heading;
    line-height: 1.875rem;
    font-weight: 400;
    color: $color-main;
    overflow-x: hidden;
    background-image: url(/images/BG.svg);
    background-repeat: no-repeat;
    background-size: 105%;
}

#line {
    border-top: 1px solid $color-main;
    width: 1490px;
    margin: auto;
    opacity: 15%;
}
.container {
    max-width: 100%;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
    margin-left: auto;
    margin-right: auto;
}


.border-line {
    border-bottom: 1px solid $color-main;
    opacity: 15%;
}

.bottom-border {
    border-bottom: 1px solid $color-main;
    padding: 0px 0px 0px 0px
}


    @include md { max-width: $breakpoint-md;}
    @include lg { max-width: $breakpoint-lg;}
    @include xl { max-width: $breakpoint-xl;}
    @include xxl { max-width: $breakpoint-xxl;}

@each $amount in $space-amount {
    .m-#{$amount} { margin: #{$amount + "%"}; }
    .ms-#{$amount} { margin-left: #{$amount + "%"}; }
    .me-#{$amount} { margin-right: #{$amount + "%"}; }
    .mt-#{$amount} { margin-top: #{$amount + "%"}; }
    .mb-#{$amount} { margin-bottom: #{$amount + "%"}; }
    .mx-#{$amount} { margin-left: #{$amount + "%"}; margin-right: #{$amount + "%"}; }
    .my-#{$amount} { margin-top: #{$amount + "%"}; margin-bottom: #{$amount + "%"}; }

    .p-#{$amount} { padding: #{$amount + "%"}; }
    .ps-#{$amount} { padding-left: #{$amount + "%"}; }
    .pe-#{$amount} { padding-right: #{$amount + "%"}; }
    .pt-#{$amount} { padding-top: #{$amount + "%"}; }
    .pb-#{$amount} { padding-bottom: #{$amount + "%"}; }
    .px-#{$amount} { padding-left: #{$amount + "%"}; padding-right: #{$amount + "%"}; }
    .py-#{$amount} { padding-top: #{$amount + "%"}; padding-bottom: #{$amount + "%"}; }
} 

.btn {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.938rem 1.5rem;
    border-radius: 0.313rem;
    @include roboto-medium;
}

.btn-outline-orange {
    border-color: $color-orange;
    

    
}
