// Break Points

$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 1600px;

$breakpoint-md-max-width: 720px;
$breakpoint-lg-max-width: 960px;
$breakpoint-xl-max-width: 1170px;
$breakpoint-xxl-max-width: 1320px;
$breakpoint-xxxl-max-width: 1600px;

$space-amount: (0, 1, 2, 3, 4, 5);
