// Colors

$white: #FFFFFF;
$color-orange: #FF6803;
$color-pink: #F23779;
$color-light-orange: #FFA62E;
$color-main: #57647C;
$color-headline: #252525;
$blue-fade: #F8F9FE;
$color-dark: $color-headline;
$color-light: #ffffff;
$bg-color: $white;
$border-color: #707070;
$very-black: #000000;
$light-blue: #8290ac;
$background-color: #F8F9FE;

