// Colors

$white: #FFFFFF;
$color-orange: #FF6803;
$color-number: #F23779;
$color-main: #57647C;
$color-headline: #252525;
$linear-gradient:#EE307A;
$blue-fade: #F8F9FE;
$color-dark: $color-headline;
$color-light: #ffffff;
$bg-color: $white;
$border-color: #707070;
$very-black: #000000;

