
//NAVBAR

#navbar {
    .container {
        display: flex;
        justify-content: space-between;
        padding-left: 216px;
        padding-right: 216px;
        .navbar-brand {
            padding-left: 140px;
            padding-top: 10px;
        }
    } 

    .navbar-links {
    display: flex;
    align-items: center; 

        .nav-links {
            font-size: 1.063rem;
            font-weight:500;
            .nav-link {
                text-decoration: none;
                color: set-text-color($color-light);
                margin-right: 1.563rem;
                margin-left: 1.563rem;
                
            }
        }
    
        i {
            margin-left: 0.313rem;
            font-size: 1.5rem;
            margin-right: 1.875rem;
            color: $very-black;
        }    

        

        }
}
// SECTION

#showcase .container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}
#showcase .showcase-text h1 {
    position:relative;
    padding-top: 145px;
    font-family: $poppins;
    font-size: 3rem;
    font-weight: 700;
    color: $color-headline;
    line-height: 1.2;
    left: 340px;
    top: 100px;
    
}

.imgScreen {
    position: absolute;
    width: 1025px;
    top: 220px;
    left: 865px;
}
.showcase-blob {
    position: relative;
        
        img {
            position: relative;
            top: -170px;
            left: 200px;
            width: 1300px;
            height: auto;
    }
    
}
#showcase .showcase-text p {
    font-family: $roboto;
    font-size: 0.9rem;
    padding-top: 1rem;
    font-weight: 400 ;
    line-height: 2;
    position:relative;
    left: 345px;
    top: 120px;
}

#showcase .showcase-text button {
    font-family: $roboto;
    font-size: 14px;
    background: linear-gradient(to right, #F23779, #FF6803, #FFA62E);
    border: 0px solid transparent;
    color: $white;
    font-weight: 700;
    font-size: 0.7rem;
    padding: 0.85rem 1.9rem;
    border-radius: 5px;
    position:relative;
    left: 345px;
    top: 145px;
}

// SUBSECTION

.texth1 {
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 20px;
    font-family: $poppins;
    font-size: 2.6rem;
    font-weight: 700;
    color: $color-headline;
    line-height: 1.3;
}

.textp {
    font-family: $roboto;
    font-size: 0.9rem;
    font-weight: 400 ;
    line-height: 1.7;
    padding-bottom: 25px;
    
}
.button1 {
    font-family: $roboto;
    font-size: 14px;
    background: linear-gradient(to right, #F23779, #FF6803, #FFA62E);
    border: 0px solid transparent;
    color: $white;
    font-weight: 700;
    font-size: 0.7rem;
    border-radius: 5px;
    padding: 0.7rem 1.9rem;
}

.wrapper {
    display: grid;
    align-items: center;
    grid-gap: 25px;
    grid-template-columns:  repeat(6, 150px);
    grid-template-rows: repeat( 4, 150px);
    background-color: #fff;
    color: #444;
    padding-left: 340px;
    position:relative;
    top: -300px;
    
}


.box {
  padding: 100px 30px;
  font-size: 150%;
}

.box .box {
    border: 1px solid black;
}

.a {
    grid-column: 1 / 4;
    grid-row: 1 / 6; 
    padding-bottom: 170px;
  }
  
  .b {
    grid-column: 4 / 2 span;
    grid-row: 1 / 4;
  }
  
  .c {
    grid-column: 6 / 2 span;
    grid-row: 1 /  4;
    padding-left: 125px;
    
  }
  
  .d {
    grid-column: 6 / 2 span;
    grid-row: 3 / 6;
    padding-left: 125px;
  }
  
  .e {
    grid-column: 4 / 2 span;
    grid-row: 3 / 6;
  }  
  
.bold {
    font-family: $poppins;
    font-weight: 700;
    font-size: 22px;
    line-height: 3;
}
.para {
    font-family: $roboto;
    font-size: 15px;
    line-height: 1.75;
}

.content-area {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -200px;
    
    
    
}

.img-area {
    padding-left: 175px;
    padding-bottom: 570px;
}

.content-text {
    font-family: $poppins;
    font-size: 1.4rem;
    font-weight: 700;
    color: $color-headline;
    line-height: 1;
    padding-right: 400px;
}
.content-text h2 {
    font-family: $poppins;
    font-size: 60px;
    color: $color-pink;
    line-height: 3.5;
}

.content-text h3 {
    font-family: $poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 4.5;
    padding-left: 125px;
    position: relative;
    top:-600px;
    
}

.content-text p {
    font-family: $roboto;
    font-size: 16px;
    font-weight: 400;
    color: $color-main;
    line-height: 1.7;
    padding-left: 125px;
    position: relative;
    top: -620px;
    left:4px;

}

.attachments {
    position:relative;
    top: -685px;
    padding-left: 600px;
}
.attachment-h1 {
    font-family: $poppins;
    font-size: 46px;
    font-weight: 700;
    color: $color-headline;
    line-height: 1.3;
    padding-right: 680px;
    text-align: center;
    
    
}

.attachment-p {
    font-family: $roboto;
    font-size: 16px;
    font-weight: 400;
    padding-top: 25px;
    text-align: center;
    padding-right: 680px;
   
}
.attachment-map {
    position: relative;
    left: -50px;
    width: 660px;
    color: $border-color;
}

.attachment-map-h1 {
    position:absolute;
    display:flex;
    gap: 197px;
    left:435px;
    top: 310px;
    color: $color-pink;
    font-family: $poppins;
    
}

.attachment-map-p {
position:absolute;
    display:flex;
    gap: 215px;
    left:437px;
    top: 345px;
    color: $color-main;
    font-family: $roboto;
    font-size: 14px;
}

.box-button {
    filter: drop-shadow(2px 2px 2px #d4d3d3);
    border-color: $border-color;
    border-radius: 5px;
    position:relative;
    right: -45px;
    width: 550px;
    height: 130px;
    top:-150px;
    background-color: $white;
}
.box-button h1 {
    font-family: $poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    padding-top: 35px;
    padding-left: 35px;
    color: $color-headline
    
}

.box-button p {
    font-family: $roboto;
    font-size: 16px;
    font-weight: 400;
    padding-left: 35px;
}

.box-button button {
    font-family: $roboto;
    font-size: 14px;
    background: linear-gradient(to right, #F23779, #FF6803, #FFA62E);
    border: 0px solid transparent;
    color: $white;
    font-weight: 700;
    font-size: 0.7rem;
    padding: 0.6rem 0.8rem;
    border-radius: 5px;
    position:relative;
    top: -50px;
    left: 410px;
}

.attachments-2 {
    font-family: $poppins;
    font-size: 46px;
    font-weight: 700;
    color: $color-headline;
    line-height: 1.3;
    text-align: center;
    position: relative;
    top: -675px;
    left: 315px;
}
.attachments-2 p {
    font-family: $roboto;
    color: $color-main;
}

#footer .black-image-1 {
    position:absolute;
    height: 300px;
    color: $border-color;
    top: -350px;
    width: 400px;
    left: 335px;
    
}
#footer .black-image-2 {
    position:absolute;
    height: 300px;
    color: $border-color;
    top: -350px;
    width: 400px;
    left: 710px;
    
    
}

#footer .black-image-3 {
    position:absolute;
    height: 300px;
    color: $border-color;
    top: -350px;
    width: 400px;
    right:418px;
    
}

#footer {
    display:flex;
    justify-content: space-between;
    position:relative;
    left: 20px;
    top: -300px;
    margin-bottom: -200px;
}

#footer .footer-h2 {
    font-family: $poppins;
    font-size: 14px;
    color: $color-orange;
    font-weight: 600;
}

#footer .footer-h1 {
    font-family: $poppins;
    font-size: 22px;
    color: $color-headline;
    font-weight:700;
}

#footer .footer-p {
    font-family: $roboto;
    font-size: 16px;
    color: $color-main;
    font-weight:400;
}

#footer .button-footer-1 {
    font-family: $roboto;
    font-size: 14px;
    background: linear-gradient(to right, #F23779, #FF6803, #FFA62E);
    border: 0px solid transparent;
    color: $white;
    font-weight: 700;
    font-size: 0.7rem;
    padding: 0.6rem 0.8rem;
    border-radius: 5px;
    position:relative;
    top: -50px;
    left: 410px;
}

#footer .footer-1 h2 {
    position:relative;
    left: 375px;
    top:-55px;
}

#footer .footer-2 h2 {
    position:relative;
    left: -85px;
    top:-55px;
}

#footer .footer-3 h2 {
    position:relative;
    left: -535px;
    top:-55px;
}

#footer .footer-1 h1 {
    position:relative;
    left: 375px;
    top: -60px;
}

#footer .footer-2 h1 {
    position:relative;
    left:-85px;
    top: -60px;
}

#footer .footer-3 h1 {
    position:relative;
    left:-535px;
    top: -60px;
}

#footer .footer-1 p {
    position:relative;
    left: 375px;
    top: -55px;
}

#footer .footer-2 p {
    position:relative;
    left:-85px;
    top: -60px;
}

#footer .footer-3 p {
    position:relative;
    left:-535px;
    top: -60px;
}

#footer .footer-1 button {
    position:relative;
    left: 375px;
    top: -40px;
}

#footer .footer-2 button {
    position:relative;
    left: -85px;
    top: -40px;
}

#footer .footer-3 button {
    position:relative;
    left: -535px;
    top: -40px;
}

.end {
    height:0;
}
.end .borderz-1 {
    position:relative;
    height: 300px;
    width: 352px;
    left: 379px;
    top: -412px;
    filter: drop-shadow(0px 3px 2px #e2e2e2);
    background-color: $white;
    color: #FFFFFF;
    z-index:-1

}

.end .borderz-2 {
    position:relative;
    height: 300px;
    width: 352px;
    left: 754px;
    top: -712px;
    filter: drop-shadow(0px 3px 2px #e2e2e2);
    background-color: $white;
    color: #FFFFFF;
    z-index:-1

}

.end .borderz-3 {
    position:relative;
    height: 300px;
    width: 352px;
    left: 1129px;
    top: -1012px;
    filter: drop-shadow(0px 3px 2px #e2e2e2);
    background-color: $white;
    color: #FFFFFF;
    z-index:-1

}
