#navbar {
    .container {
        display: flex;
        justify-content: space-between;
    } 

    .navbar-links {
    display: flex;
    align-items: center;

        .nav-links {
            font-size: 1.063rem;
            font-weight:500;
            .nav-link {
                text-decoration: none;
                color: set-text-color($color-light);
                margin-right: 1.563rem;
                margin-left: 1.563rem;
            }
        }
    
        i {
            margin-left: 0.313rem;
            font-size: 1.5rem;
            margin-right: 1.875rem;
            color: $very-black;
        }    

        

        }
    }

